.cellTableWidget {
    font-family: 'Droid Sans', sans-serif;
    font-size: 10pt;
    color: #272727;
    width: 100%;
    margin: 0.5em 0;
}

.cellTableHeader {
    outline: 0 none;
    vertical-align: baseline;
    background: none repeat scroll 0 0 #666;
    color: #FFF;
    font-weight: bold;
    padding: 4px 5px;
    text-align: left;
    text-transform: uppercase;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    text-shadow: none;
    border-bottom: none;
}

.cellTableCell {
    padding: 4px 5px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.cellTableEvenRow {
    background: #FFF;
}

.cellTableOddRow {
    background: #EEE;
}

.cellTableHoveredRowCell {
    background: none repeat scroll 0 0 #006699;
    color: #FFF;
}

.cellTableHoveredRowCell a{
    color: #FFF;
}